services:
  db:
    container_name: postgres-sirin-alpine
    image: postgres:15.1-alpine
    restart: always
    environment:
        POSTGRES_USER: ${TYPEORM_USER}
        POSTGRES_PASSWORD: ${TYPEORM_PASSWORD}
        POSTGRES_DB: ${TYPEORM_DB}
    volumes:
        - ./pgdata:/var/lib/postgresql/data
    ports:
        - ${TYPEORM_PORT}:${TYPEORM_PORT}
  backend:
    container_name: nest-sirin
    build: 
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./src:/app/src
    depends_on:
      - db
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      API_PORT: ${API_PORT}
      TYPEORM_CONNECTION: ${TYPEORM_CONNECTION}
      TYPEORM_USER: ${TYPEORM_USER}
      TYPEORM_PASSWORD: ${TYPEORM_PASSWORD}
      TYPEORM_DB: ${TYPEORM_DB}
      TYPEORM_PORT: ${TYPEORM_PORT}
      TYPEORM_HOST: db